
asgiref==3.5.2
django==4.1.2
django-admin-index==2.0.2
django-cors-headers==3.13.0
django-ordered-model==3.6
django-resized==1.0.2
djangorestframework==3.14.0
pillow==9.2.0
pytz==2022.5
sqlparse==0.4.3
whitenoise==6.4.0