{% extends 'single_pages/base.html' %}
{% load static %}

{% block page_title %}
Home
{% endblock %}

{% block content %}

<!-- Header Image -->

<section class="header2 cid-sxcAXm7ky2 mbr-fullscreen" id="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <h3 class="mbr-section-subtitle mbr-fonts-style display-1">
                    Lualin Portfolio</h3>
                <p class="mbr-text text mbr-fonts-style display-4">
                    <strong>
                        Siwan (Sean) Kim
                    </strong>
                </p>
                <div class="si">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->

<section class="features7 cid-sxcB0lqMt9" id="intro">
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12">
                    <div class="row">
                        <div class="left-side align-center col-12 col-lg">
                            <img src="{% static 'img/home/intro_2.jpg' %}" class="first" width="266" height="400">
                            <img src="{% static 'img/home/intro_1.jpg' %}" class="second" width="266" height="400">
                        </div>
                        <div class="right-side align-center col-12 col-lg item-wrapper">
                            <div class="card-wrapper">
                                <div class="card-box align-center">
                                    <h5 class="mbr-section-title art mbr-fonts-style display-1">
                                        Introduction
                                    </h5>
                                    <p class="mbr-text text mbr-fonts-style display-7">
                                        <strong>
                                            Full-Stack Web Developer, Photographer <br>
                                        </strong>
                                        <br>
                                        <strong>
                                            Hello, my name is Sean, I am full-stack web developer and photographer. I am
                                            passionate about my work and I love to learn new things. I am currently
                                            working on a few projects, including this website. I am also working on a
                                            few photography projects, which you can see in the gallery below. I am
                                            always looking for new projects to work on, so if you have any interests in
                                            me, please feel free to contact me.
                                        </strong>
                                        <br><br>
                                        <strong>
                                            Github: <a href="https://github.com/lualin" target="_blank">click</a> <br>
                                            LinkedIn: <a href="https://www.linkedin.com/in/siwan-kim-77a7aa102/"
                                                    target="_blank">click</a>
                                        </strong>
                                    </p>
                                    <p class="mbr-text desc mbr-fonts-style display-7">
                                        <em>LL</em>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery -->

<section class="gallery3 cid-sxcBbuaaD6" id="gallery">
    <div class="container">
        <h3 class="mbr-section-title padd mbr-fonts-style display-2">
            <strong>Gallery</strong>
        </h3>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 item features-image">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'img/home/gallery_thumbnail_1.jpg' %}" alt="" data-slide-to="1">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 item features-image">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'img/home/gallery_thumbnail_2.jpg' %}" alt="" data-slide-to="2">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 item features-image">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'img/home/gallery_thumbnail_3.jpg' %}" alt="" data-slide-to="3">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 item features-image">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'img/home/gallery_thumbnail_4.jpg' %}" alt="" data-slide-to="4">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 item features-image">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'img/home/gallery_thumbnail_5.jpg' %}" alt="" data-slide-to="5">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 item features-image">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'img/home/gallery_thumbnail_6.jpg' %}" alt="" data-slide-to="6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Projects -->

<section data-bs-version="5" class="features7 cid-sCnnjGwVev" id="projects">
    <div class="container-fluid">
        <h3 class="mbr-section-title padd mbr-fonts-style display-2">
            <strong>Projects</strong>
        </h3>
        <div class="row no-gutters">
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'img/home/project_thumbnail_1.jpg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">
                            Photography
                        </h4>
                        <p class="card-text mbr-fonts-style display-4">

                        </p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'img/home/project_thumbnail_3.jpg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">
                            Architecture
                        </h4>
                        <p class="card-text mbr-fonts-style display-4">

                        </p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'img/home/project_thumbnail_2.jpg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">
                            Creative Inspirations
                        </h4>
                        <p class="card-text mbr-fonts-style display-4">

                        </p>
                    </div>
                </div>
            </div>
            <div class="card_item col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="card-box">
                        <div class="item-img">
                            <img src="{% static 'img/home/project_thumbnail_4.jpg' %}" alt="" title="">
                        </div>
                        <h4 class="card-title ls-1 mbr-fonts-style display-5">
                            Coding
                        </h4>
                        <p class="card-text mbr-fonts-style display-4">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact list -->

<section class="contact5 cid-svMHuAElzZ" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12 pb-5 col-lg-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Contacts</strong>
                </h3>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-7">
                    <strong></strong>
                </h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-map-pin mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Office</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">
                            <strong>Auckland, New Zealand</strong><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Phone</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">
                            <strong>+64 22 648 0330</strong><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Email</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">
                            <strong>lualin@gmail.com</strong><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Subscribe/Location -->

<section class="footer2 cid-sxLsG8HSOZ" once="footers" id="footer1-z">
    <div class="container no-padding">
        <div class="row">
            <div class="col-12 col-md-6 bottom">
                <div class="b">
                    <div>
                        <h3 class="mbr-section-title mbr-fonts-style display-2">
                            <strong>Subscribe</strong>
                        </h3>
                    </div>
                    <div class="mbr-link align-center">
                        <h5 class="address mbr-fonts-style display-7">
                            <strong>
                                <em>You can subscribe for new updates</em>
                            </strong>
                        </h5>
                    </div>
                    <div class="mbr-form top" data-form-type="formoid">
                        <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                            data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                                value="O8XN7qQUBN19N8QCiH73sHtK/zDhtgNGhussie6A09B1BPLTdTW0ojUs61oM0vL5wpcf91rXrnPVrVGOPHMZjflQEAScNxgrkmb40ftR1VETjBtQJ8QYf5KFd48rc8FX.sGdfQD+dk7gyA81Xv/5gF/ITqUHZ5xVAJD2OZHgc2lo07OXYsueNLMhrCO+zZm7UtCKa5w+UZytQboWDV3ycR8wkif0nNHLhogmWCVFm5faLxqZWpQpqLrU71sMlDD32">
                            <div class="form-row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                                    Thanks for filling out the form!
                                </div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                    Oops...! some problem!
                                </div>
                            </div>
                            <div class="dragArea form-row">
                                <div data-for="email" class="form-group col-12 col-lg">
                                    <input type="email" name="email" placeholder="Your Email" data-form-field="email"
                                        class="form-control display-7" value="" id="email-footer1-z">
                                    <div class="col-auto button"><button type="submit"
                                            class="btn btn-success display-4">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 no-padd">
                <div class="google-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25541.76829983082!2d174.73037526073105!3d-36.84915653006039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47fb48a99ab9%3A0x500ef6143a2b3e0!2z7Jik7YG0656c65OcIOyYpO2BtOuenOuTnCBDQkQ!5e0!3m2!1sko!2snz!4v1668206757218!5m2!1sko!2snz"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}