.cid-ttRtpBgu0R {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #0e0f1a;
  }
  .cid-ttRtpBgu0R .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-ttRtpBgu0R .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  @media (max-width: 992px) {
    .cid-ttRtpBgu0R .row {
      padding: 0 13px;
    }
  }
  @media (max-width: 1200px) {
    .cid-ttRtpBgu0R .item .item-wrapper .item-img .item-button-section {
        position: absolute;
        top: 50%;
        left: 90px;
        display: block;
      }
  }
  .cid-ttRtpBgu0R .row {
    justify-content: center;
  }
  .cid-ttRtpBgu0R .item {
    position: relative;
    margin-bottom: 100px;
  }
  .cid-ttRtpBgu0R .item .item-wrapper {
    position: relative;
  }
  .cid-ttRtpBgu0R .item .item-wrapper:hover .item-img .active-overlay {
    opacity: .6;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-img {
    position: relative;
    margin-bottom: 15px;
    display: block;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-img .item-button-section {
    position: absolute;
    top: 50%;
    left: 108px;
    display: block;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-img .item-button-section .item-button {
    background-color: transparent;
    border: #86a5e8 1px solid;
    border-radius: 2px;
    font-weight: bold;
    color: #ffffff;
    width: 130px;
    height: 40px;
    cursor: pointer;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-img .item-button-section .item-button:hover{
    background-color: #86a5e8;
    font-weight: bold;
    opacity: .7;
    color: #0e0f1a;
    transition: ease-in-out 0.5s;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-img img {
    height: 346px;
    object-fit: cover;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-img .active-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(0deg, #000000 0, rgba(255, 255, 255, 0) 100%);
    background-size: 200% 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-tags {
    margin-bottom: 5px;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-tags .tags-wrapper {
    display: inline-flex;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-tags .tags-wrapper .item-tag {
    margin-right: 5px;
    margin-bottom: 0;
    position: relative;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-tags .tags-wrapper .item-tag:hover::before {
    width: 0;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-tags .tags-wrapper .item-tag::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.3s ease-out;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-title {
    margin-bottom: 0;
    transition: all 0.3s ease-out;
    position: relative;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(99deg, #773afb 0, rgba(255, 255, 255, 0) 40%);
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .cid-ttRtpBgu0R .item .item-wrapper .item-content .item-title:hover::before {
    opacity: .85;
    color: #86a5e8;
  }
  .cid-ttRtpBgu0R .item-tag {
    color: #ffffff;
  }
  .cid-ttRtpBgu0R .item-title {
    color: #ffffff;
  }